/* Mobile responsiveness starts here */
@media screen and (max-width: 576px) {

    /* nav mobile responsivnes starts here */
    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .nav-title {
        margin-left: 30%;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links a {
        margin-top: 30px;
    }

    .follow-link {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        background: rgba(11, 2, 35, 0.10);
        margin-right: 5px;
    }

    .follow-link {
        width: 210px;
    }



    /* Banner section mobile responsiveness starts here */
    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        background-position: bottom;
        background-position-x: 100%;
        background-size: 80% 50%;


    }

    .banner-text {
        width: 100%;
        margin-top: 25px;
        padding: 30px 50px;

    }

    .banner-img {
        width: 100%;
        margin-left: 62%;
        margin-bottom: 15px;
    }

    .banner-img img {
        width: 70%;
        margin-top: 30px;

    }

    .banner-text h3 {
        text-align: center;
        margin-right: 30px;
        font-size: 25px;

    }

    .banner-text h2 {
        text-align: center;
        font-size: 35px;
        margin-right: 48px;
    }

    .dot-1 {
        font-size: 5px;

    }

    .dot-2 {
        font-size: 5px;

    }

    .dot-3 {
        font-size: 5px;
        margin-left: 5px;
    }

    .dot-4 {
        font-size: 5px;
        margin-left: -4px;
    }

    .banner-feature {
        width: 58%;
        margin: -5px 0px 0px 20%;
        font-size: 10px;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-right: 30px;

    }

    .btn-sign {
        padding: 10px 15px;
    }

    .btn-rogue {

        padding: 10px 15px;

    }


    /* Gamer information style starts here */


    .information-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: none;
    }

    .information-img {
        width: 100%;

    }

    .gamer-informations {
        width: 100%;

    }

    .gamer-informations p {
        justify-content: center;
        text-align-last: center;
        font-size: 10px;
        margin-left: 30%;

    }

    .btn-more {

        justify-content: center;
    }

    .btn-more {
        margin-left: 30%;
        margin-top: 30px;

    }

    .purpose small {
        justify-content: center;
        margin-left: 30%;
        margin-top: 50px;
    }

    .purpose b {
        justify-content: center;
        font-size: 18px;
        margin-left: 30%;

    }

    .funny-video-container {
        display: flex;
        flex-direction: column;
    }

    .funny-video-title {
        font-size: 25px;
        margin-left: 17%;
    }

    .funny {
        font-size: 25px;

    }

    .funny-video-details {
        margin-left: 20%;
        font-size: 10px;
    }

    .img-container {
        width: 90%;
        margin-left: 17%;
    }

    .game-details {
        font-size: 10px;
        text-align: center;
    }

    .hover-img {
        position: relative;
        border-radius: 16px;

    }

    .hover-img:hover .play-btn {
        opacity: 1;

    }

    .overlay {
        position: absolute;
        bottom: 7px;
        left: 5px;
        width: 323px;
        height: 380px;
        background: rgba(0, 0, 0, 0);
        border-radius: 10px;

    }

    .hover-img:hover .overlay {
        display: block;
        background: rgba(0, 0, 0, .6);
    }
}



/* Tablet responsiveness starts here */
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* nav tablet responsivness starts here */
    .nav-container {
        display: flex;
    }

    .nav-links a {
        margin-left: 10px;
        font-size: 10px;

    }

    .follow-link {
        padding: 5px 10px;
    }



    /* Banner section tablet responsiveness starts here */

    .banner-container {
        flex-direction: row;

    }

    .banner-text {
        width: 50%;

    }

    .banner-img {
        width: 50%;
    }



    .information-container {
        display: flex;
        gap: 30px;
    }

    .gamer-informations p {
        font-size: 10px;

    }

    .purpose small {
        justify-content: center;
        margin-left: 70%;
        margin-top: 30px;
        font-size: 10px;
    }

    .purpose b {
        justify-content: center;
        font-size: 10px;
        margin-left: 40%;

    }

}