/* Mobile responsiveness starts here */
@media screen and (max-width: 576px) {
    .nav-container {
        display: flex;
        flex-direction: column;
    }
    .nav-title {
       margin-left: 25px;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links a {
        margin-top: 30px;
    }

    .follow-link {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        background: rgba(11, 2, 35, 0.10);
        margin-right: 5px;
    }

    .follow-link {
       width: 210px;
    }
}
/* Mobile responsiveness finished here */


/* Tablet responsiveness starts here */
@media screen and (min-width: 576px) and (max-width: 992px){
    .nav-container {
        display: flex;
    }
    .nav-links a {
        margin-left: 10px;
        font-size: 10px;
       
    }
    .follow-link {
        padding: 5px 10px;
     }
}