* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Crimson+Text&family=Libre+Baskerville&family=Merriweather&family=Noto+Serif:ital,wght@0,300;0,400;1,300;1,400&family=Open+Sans&family=Roboto+Condensed&family=Roboto:wght@400;500&family=Rubik&family=Staatliches&family=Work+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Staatliches', cursive;
    font-family: 'Work Sans', sans-serif;
}


/* nav side style starts */

.nav-container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
}

.nav-title img {
    width: 70px;
    object-fit: cover;
}

.nav-title h2 {
    margin-left: 10px;
    font-size: 35px;
}

.title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
    color: #FF42A5;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 50%;
}

.nav-links a {
    margin-left: 25px;
    color: #3C354F;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.fa-youtube {
    font-size: 30px;
    color: red;
    margin: 0px 5px;
}

.fa-tiktok {
    font-size: 15px;
    margin: 0px 5px;
}

.follow-link {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background: rgba(11, 2, 35, 0.10);
    margin-right: 5px;
}


/* Banner section style starts here */

.banner-section {
    background-image: url('./images/Group\ 14.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 600px;
}

.banner-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.banner-text {
    width: 50%;
}

.banner-text h3 {
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.banner-text h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -5%;
}

.dot-1 {
    font-size: 10px;
}

.dot-2 {
    font-size: 10px;
}

.dot-3 {
    font-size: 10px;
    margin-left: 5px;
}

.dot-4 {
    font-size: 10px;
    margin: 0px 0px 0px -8px;
}

.banner-feature {
    margin-top: -5%;
}

.fa-sharp{
    color: #F948B2;
    margin-right: 3px;
}
.fa-download {
    color: #F948B2;
}

.fa-user-group {
    color: #424143;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.fa-solid {
    margin-right: 5px;
}

.btn-sign {
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    padding: 15px 20px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn-rogue {
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    padding: 15px 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
    margin-left: 10px;
    background: #4EC5F7;
}

.btn-container {
    margin-top: 25px;
}

/* information section styles starts here */
.information-section {
    background-image: linear-gradient(rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.information-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.information-img {
    width: 60%;
}

.gamer-informations {
    width: 40%;
}

.information-img img {
    width: 100%;
}

.purpose small {
    display: flex;
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    justify-content: flex-end;
    margin-top: 10px;
}

.purpose b {
    display: flex;
    color: #534C64;
    justify-content: end;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}

.gamer-informations h3 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-informations p {
    display: flex;
    justify-content: end;
    text-align-last: right;
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    line-height: 25px;
    font-weight: 400;
}

.btn-more {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.btn-more button {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    padding: 15px 20px;
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* Funny video section style starts her */

.funny-video-section {
    max-width: 1200px;
    margin: 0px auto;
}

.funny-video-container {
    width: 100%;
    display: grid;
    gap: 10px;
    margin: 0px auto;
    grid-template-columns: repeat(4, 1fr);
}

.funny-video-title {
    text-align: center;
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.funny-video-details {
    text-align: center;
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

.funny-video-container img {
    width: 100%;
}

.game-details {
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.hover-img {
    position: relative;
    border-radius: 16px;
}

.hover-img:hover .play-btn {
    opacity: 1;
}

.overlay {
    position: absolute;
    bottom: 7px;
    left: 2px;
    width: 257px;
    height: 302px;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.hover-img:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.play-btn {
    font-size: 35px;
    position: absolute;
    right: 28%;
    top: 40%;
    color: white;
    opacity: 0;
}

.play {
    margin-left: 40px;
}

.watch {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* playing offer container section style starts here */

.playing-offer-container {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    align-items: center;
}

.instant-playing {
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -20%;
}

.plying-details {
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15%;
    padding-left: 15%;
}

.playing-offer {
    width: 50%;
}

.playing-offer h3 {
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: -5%;
    padding-left: 15%;
}

.playing-offer-img-container {
    width: 50%;
    position: relative;
}

.playing-offer-img-1 {
    width: 100%;
}

.playing-offer-img-2 {
    width: 50%;
    position: absolute;
    bottom: -8%;
    right: 80%;
}

/* game classification section style starts here */

.game-classification {
    width: 70%;
    display: flex;
    gap: 60px;
    margin: 15% auto 10%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.games {
    display: flex;
    gap: 10px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 10px;
}

.games img {
    width: 35px;
    height: 35px;
}

.games p {
    font-size: 10px;
}

.games:hover {
    border: 1px solid #F948B2;
    border-radius: 50px;
    background-color: #ffffff;
    color: #F948B2;
}

footer {
    background: #0B0223;
}

.footer-section {
    max-width: 1200px;
    padding: 100px 0px;
    margin: 0px auto;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-title img {
    width: 5%;
    height: 5%;
    object-fit: cover;
}

.gamer {
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gamer-span {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* footer section style starts here */


.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.footer-links a {
    color: #FFF;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.social-sites {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    gap: 40px;
    color: #FFFFFF;
}

.social-sites a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 40px;
}

.terms-policy {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.terms-policy a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 30px;
}